-# EDIT
- edit = link_to '', polymorphic_url(opts[:namespace] + [node], :action => :edit), :title => t('.edit_this'), :class => 'button edit'
-# DELETE
- if opts[:has_children]
  - delete = link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' }
- else
  - delete =  'Cant be deleted'
-# OUTPUT
= edit + delete
